<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227754949076-s4gqge39u1po9cu5gssgf89bdvaebfsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227754949076-s4gqge39u1po9cu5gssgf89bdvaebfsg</string>
	<key>API_KEY</key>
	<string>AIzaSyBR2GiXYXmmhExC78EizZhQ0ev7IPBv46M</string>
	<key>GCM_SENDER_ID</key>
	<string>227754949076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCatalog</string>
	<key>PROJECT_ID</key>
	<string>flutter-catalog-f6fe7</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-catalog-f6fe7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227754949076:ios:6b99c375973f9688e03e41</string>
</dict>
</plist>